<section class="menu-hamburguesa">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/ima/logo.png" width="60px" height="45px" alt=""></a>
    <!--<div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><img src="assets/ima/log.png" alt="error" width="30px"
          height="30px"></button>
      <form class="dropdown-menu p-4">
        <div class="form-group">
          <label for="exampleDropdownFormEmail2">Usuario</label>
          <input type="email" name="email" id="email" class="form-control" id="exampleDropdownFormEmail2"
            placeholder="Ingrese su usuario">
        </div>
        <div class="form-group">
          <label for="exampleDropdownFormPassword2">Contraseña</label>
          <input type="pss" name="pass" id="pass" class="form-control" id="exampleDropdownFormPassword2"
            placeholder="Ingrese su contraseña">
        </div>
        <div><a href="#">Olvide mi contraseña</a></div>
        <br><br>
        <div><button type="enviar" name="enviar" id="enviar" class="btn btn-primary">Iniciar</button>
        </div>
      </form>
    </div>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="conocenos">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mapa">Ubicanos</a>
        </li>
        <li>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Categorias
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Autos</a>
              <a class="dropdown-item" href="#">SUVs & Crossovers</a>
              <a class="dropdown-item" href="#">Performante</a>
              <a class="dropdown-item" href="#">Pick Ups</a>
              <a class="dropdown-item" href="#">Vans y Comerciales</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</section>